name: "Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [ opened ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run tests
        env:
          TERM: dumb
        run: |
          ./env.sh
          ./pytest.sh